html,
body {
    position: relative;
    /*overflow: hidden;*/
}









/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 7px;
    height: 16px;
    background-color: #F5F5F5;
}









/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}









/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: #BFBFBF;
}









/*弹出框*/

.dialog {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.dialog .dialog_backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all linear .5s;
}

.custom_page {
    position: relative;
    width: 19.20rem;
    height: 10.80rem;
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.33rem;
}

.custom_page.more_page {
    background-image: url('../images/bg2.png');
}

.custom_body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.state_header {
    position: relative;
    height: 1.54rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.state_header>.left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.69rem;
}

.state_header>.left>.c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.27rem;
}

.state_header>.left>.c1 img {
    display: block;
    width: 0.81rem;
    height: 0.81rem;
    border-radius: 50%;
    border: 4px solid #fff;
}

.state_header>.left>.c1 p {
    color: #2CD0FF;
    font-size: 0.2rem;
    margin-top: 0.1rem;
}

.state_header>.left>.c2 {
    margin-top: -0.1rem;
}

.state_header>.left>.c2>.l1 {
    display: flex;
    align-items: center;
}

.state_header>.left>.c2>.l1>.s1 {
    color: #fff;
    font-size: 0.4rem;
    margin-right: 0.45rem;
}

.state_header>.left>.c2>.l1>.s2,
.state_header>.left>.c2>.l1>.s3 {
    color: #fff;
    font-size: 0.2rem;
    margin-top: 0.1rem;
}

.state_header>.left>.c2>.l1 .s2 {
    margin-right: 0.6rem;
}

.state_header>.left>.c2>.l2 {
    color: #fff;
    font-size: 0.28rem;
    margin-top: 0.13rem;
}

.state_header>.right {
    display: flex;
    align-items: center;
    margin-right: 0.53rem;
}

.state_header>.right>.c1>.l1,
.state_header>.right>.c1>.l2 {
    margin-bottom: 0.11rem;
}

.state_header>.right>.c1>.l1,
.state_header>.right>.c1>.l2,
.state_header>.right>.c1>.l3 {
    font-size: 0.18rem;
    color: #fff;
    text-align: right;
}

.state_header>.right>.c1>.l3 {
    display: flex;
    align-items: center;
}

.state_header>.right>.c1>.l3 span {
    line-height: 0.23rem;
    display: block;
    background-color: #2DE30F;
    color: #fff;
    font-size: 0.16rem;
    padding: 0 0.05rem;
}

.state_header>.right>.c2 {
    display: block;
    width: 0.83rem;
    height: 0.83rem;
    margin-left: 0.11rem;
    margin-right: 0.35rem;
}

.state_header>.right>.c3>.l1 {
    color: #fff;
    font-size: 0.63rem;
    text-align: right;
}

.state_header>.right>.c3>.l2 {
    color: #fff;
    font-size: 0.2rem;
    text-align: right;
}

.main_content {
    flex: 1;
    position: relative;
}

.time_limit_tip_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.29rem;
}

.time_limit_tip_box>.c1 {
    display: block;
    width: 1.18rem;
    height: 0.45rem;
    margin-top: 0.2rem;
    margin-right: 0.48rem;
}

.time_limit_tip_box>.c2 {
    margin-right: 0.68rem;
}

.time_limit_tip_box>.c2,
.time_limit_tip_box>.c3 {
    font-size: 0.3rem;
    color: #333;
}

.time_limit_tip_box>.c2 span,
.time_limit_tip_box>.c3 span {
    font-size: 0.6rem;
    font-weight: bold;
    color: #2CD0FF;
}

.time_limit_tip_box.time_limit_tip_box_little {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.43rem;
    padding-top: 0.27rem;
    padding-bottom: 0.35rem;
}

.time_limit_tip_box.time_limit_tip_box_little>.c1 {
    display: block;
    width: 0.97rem;
    height: 0.38rem;
    margin-top: 0.18rem;
    margin-right: 0.28rem;
}

.time_limit_tip_box.time_limit_tip_box_little>.c2 {
    margin-right: 0.74rem;
}

.time_limit_tip_box.time_limit_tip_box_little>.c2,
.time_limit_tip_box.time_limit_tip_box_little>.c3 {
    font-size: 0.26rem;
    color: #333;
}

.time_limit_tip_box.time_limit_tip_box_little>.c2 span,
.time_limit_tip_box.time_limit_tip_box_little>.c3 span {
    font-size: 0.46rem;
    font-weight: normal;
    color: #2CD0FF;
}

.login_box {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 7.02rem;
    height: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.43rem;
    box-shadow: 0px 0px 0.19rem 0px rgba(23, 97, 107, 0.43);
    padding-top: 0.59rem;
    top: 1.46rem;
}

.login_box .input_box {
    width: 5.24rem;
    height: 0.7rem;
    border: 1px solid #DDDDDD;
    display: flex;
}

.login_box .input_box.input1 {
    margin-bottom: 0.59rem;
}

.login_box .input_box input {
    border: none;
    background-color: #fff;
    flex: 1;
    font-size: 0.2rem;
    padding: 0 0.3rem;
}

.login_box .input_box input::-webkit-input-placeholder {
    color: #999999;
}

.login_box .input_box>.right {
    width: 0.68rem;
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box .btn_login {
    width: 5.24rem;
    height: 0.72rem;
    display: block;
    margin-top: 0.51rem;
    font-size: 0.22rem;
    color: #fff;
    background-color: #50DCFF;
}
















/*首页*/

.index_page .main_content {
    display: flex;
    flex-direction: column;
}

.index_page .main_content .middle_part {
    flex: 1;
}

.index_page .main_content .bottom_list {
    display: flex;
    margin-bottom: 0.4rem;
}

.index_page .main_content .bottom_list .left_list {
    display: flex;
    padding-left: 2.65rem;
}

.index_page .main_content .bottom_list .left_list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.8rem;
}

.index_page .main_content .bottom_list .left_list .item>img {
    display: block;
    width: 0.96rem;
    height: 0.96rem;
    margin-bottom: 0.2rem;
}

.index_page .main_content .bottom_list .left_list .item>p {
    color: #5DAF3F;
    font-size: 0.26rem;
}

.index_page .main_content .bottom_list .setting_item {
    display: flex;
    align-items: center;
    margin-left: -0.3rem;
}

.index_page .main_content .middle_part {
    display: flex;
}

.index_page .main_content .middle_part .big_box {
    width: 5.48rem;
    height: 5.14rem;
    position: relative;
    margin-right: 0.39rem;
}

.index_page .main_content .middle_part .big_box.box1 {
    background-image: url('../images/icon5.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.index_page .main_content .middle_part .big_box.box2 {
    background-image: url('../images/icon6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.index_page .main_content .middle_part .big_box.box3 {
    background-image: url('../images/icon7.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.index_page .main_content .middle_part .big_box .box_inner {
    width: 4.2rem;
    position: absolute;
    top: 135px;
    right: 20px;
}

.index_page .main_content .middle_part .big_box .box_inner>.l1 {
    display: flex;
    justify-content: center;
}

.index_page .main_content .middle_part .big_box .box_inner>.l1 img {
    display: block;
}

.index_page .main_content .middle_part .big_box .box_inner>.l2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.index_page .main_content .middle_part .big_box.box1 .box_inner>.l2 {
    margin-top: 0.77rem;
}

.index_page .main_content .middle_part .big_box.box1 .box_inner>.l2 p {
    margin-bottom: 0.1rem;
}

.index_page .main_content .middle_part .big_box.box1 .box_inner>.l2 p>.s1 {
    font-size: 0.18rem;
    color: #78D19A;
    margin-right: 0.44rem;
    margin-left: 1.1rem;
}

.index_page .main_content .middle_part .big_box.box1 .box_inner>.l2 p>.s2 {
    font-size: 0.24rem;
    color: #643E1E;
}

.index_page .main_content .middle_part .big_box.box2 .l2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0.35rem;
    margin-top: 0.4rem;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item {
    display: flex;
    align-items: center;
    margin-bottom: 0.15rem;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item:nth-child(2n) {
    margin-left: 0.25rem;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c1 {
    position: relative;
    margin-right: 0.08rem;
}


.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c1 img {
    width: 0.3rem;
    height: 0.3rem;
    display: block;
    border-radius: 50%;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c1>.dot {
    width: 0.2rem;
    height: 0.17rem;
    position: absolute;
    left: -0.04rem;
    top: -0.08rem;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c2,
.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c3 {
    display: block;
    width: 0.55rem;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c2 {
    color: #4F9536;
    font-size: 0.18rem;
    margin-right: 0.1rem;
}

.index_page .main_content .middle_part .big_box.box2 .l2 .teacher_item>.c3 {
    color: #333;
    font-size: 0.18rem;
}















.index_page .main_content .middle_part .big_box.box3 {
    margin-right: 0;
}

.index_page .main_content .middle_part .big_box.box3 .l2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0.35rem;
    margin-top: 0.4rem;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item {
    display: flex;
    align-items: center;
    margin-bottom: 0.15rem;
    margin-right: 0.25rem;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item:nth-child(3n) {
    margin-right: 0rem;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c1 {
    position: relative;
    margin-right: 0.08rem;
}


.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c1 img {
    width: 0.3rem;
    height: 0.3rem;
    display: block;
    border-radius: 50%;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c1>.dot {
    width: 0.2rem;
    height: 0.17rem;
    position: absolute;
    left: -0.04rem;
    top: -0.08rem;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c2,
.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c3 {
    display: block;
    width: 0.55rem;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c2 {
    color: #4F9536;
    font-size: 0.18rem;
    margin-right: 0.1rem;
}

.index_page .main_content .middle_part .big_box.box3 .l2 .teacher_item>.c3 {
    color: #333;
    font-size: 0.18rem;
}















/*更多*/

.more_page .main_content .more_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 135px;
}

.more_page .main_content .more_list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.8rem;
    margin-top: 0.93rem;
}

.more_page .main_content .more_list .item:nth-child(9n) {
    margin-right: 0;
}

.more_page .main_content .more_list .item>img {
    display: block;
    width: 0.96rem;
    height: 0.96rem;
    margin-bottom: 0.2rem;
}

.more_page .main_content .more_list .item>p {
    color: #5DAF3F;
    font-size: 0.26rem;
}














/*成长脚印*/

.left_chain {
    width: 0.14rem;
    height: 1.76rem;
    position: absolute;
    left: 6.45rem;
    top: 0;
    background-color: #FFE287;
    z-index: 1;
}

.right_chain {
    width: 0.14rem;
    height: 1.76rem;
    position: absolute;
    right: 6.45rem;
    top: 0;
    background-color: #FFE287;
    z-index: 1;
}

.frame_box {
    width: 12.98rem;
    height: 6.69rem;
    position: absolute;
    left: 2.77rem;
    top: 1rem;
    border: 0.06rem solid #E3B3AD;
    padding: 0.24rem;
}

.frame_box.little {
    width: 9.61rem;
    left: 4.44rem;
}

.frame_box .frame_content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.frame_box .frame_content .top_title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.31rem;
}

.frame_box .frame_content .top_title img {
    display: block;
}

.frame_box .frame_content .top_title .img1 {
    margin-bottom: 0.12rem;
}

.frame_box .frame_content .list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.35rem;
}

.frame_box .frame_content .list>.cut_line {
    width: 0;
    border-right: 1px solid #A6A6A6;
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
}

.frame_box .frame_content .list>.item {
    margin-left: 1.08rem;
    margin-top: 0.25rem;
}

.frame_box .frame_content .list>.item:nth-child(1),
.frame_box .frame_content .list>.item:nth-child(2) {
    margin-top: 0;
}

.frame_box .frame_content .list>.item:nth-child(2n) {
    margin-left: 0.81rem;
}

.frame_box .frame_content .list>.item>.l1 {
    color: #333333;
    font-size: 0.18rem;
}

.frame_box .frame_content .list>.item>.l3 {
    color: #909090;
    font-size: 0.12rem;
}

.frame_box .frame_content .list>.item>.l2 {
    display: flex;
    margin-top: 0.1rem;
    margin-bottom: 0.15rem;
}

.frame_box .frame_content .list>.item>.l2 img {
    width: 1.47rem;
    height: 1.28rem;
    display: block;
    margin-right: 0.15rem;
}

.frame_box .frame_content .list>.item>.l2 img:nth-last-child(1) {
    margin-right: 0;
}

.pagination_box {
    text-align: center;
    margin-top: 0.19rem;
}

.pagination_box .pagination {
    display: inline-block;
}

.frame_box.little .grow_detail_content {
    padding: 0.66rem 1.1rem;
    position: relative;
    color: #999999;
    font-size: 0.14rem;
    line-height: 0.2rem;
    height: 100%;
    overflow-y: auto;
}

.frame_box.little .grow_detail_content img {
    margin-top: 0.21rem;
    max-width: 100%;
}

.student_info_dialog .dialog_content {
    position: absolute;
    width: 5.15rem;
    height: 3.85rem;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    background-color: #fff;
    border-radius: 0.15rem;
}

.student_info_dialog .dialog_content .arrow1 {
    position: absolute;
    left: -0.1rem;
    top: -0.1rem;
}

.student_info_dialog .dialog_content .arrow2 {
    position: absolute;
    right: -0.1rem;
    bottom: -0.1rem;
}

.student_info_dialog .dialog_content .dialog_content_inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.student_info_dialog .dialog_content .dialog_content_inner>.l1 {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -0.59rem;
    margin-bottom: 0.34rem;
}

.student_info_dialog .dialog_content .dialog_content_inner>.l1 img {
    display: block;
    width: 1.18rem;
    height: 1.18rem;
    border-radius: 50%;
}

.student_info_dialog .dialog_content .dialog_content_inner>.l2 p {
    display: flex;
    align-items: center;
    padding-left: 0.85rem;
    margin-bottom: 0.2rem;
}

.student_info_dialog .dialog_content .dialog_content_inner>.l2 p>.s1 {
    display: block;
    width: 1.5rem;
    font-size: 0.19rem;
    color: #666;
    text-align: right;
    margin-right: 0.1rem;
}



.student_info_dialog .dialog_content .dialog_content_inner>.l2 p>.s2 {
    font-size: 0.22rem;
    color: #333;
}

.student_info_dialog .dialog_content .dialog_content_inner>.l2 p>img {
    margin-left: 0.1rem;
}

.teacher_info_dialog .dialog_content {
    width: 6.15rem;
    height: 4.1rem;
}

.teacher_info_dialog .dialog_content .dialog_content_inner>.l2 p {
    padding-left: 0.4rem;
}








/*通知公告*/

.report_page .frame_box .list {
    margin-top: 0.65rem;
}
.report_page .frame_box .list .item {
    display: flex;
}
.report_page .frame_box .list .item>.c1 {
    display: block;
    width: 0.81rem;
    height: 0.81rem;
    margin-right: 0.34rem;
}

.report_page .frame_box .list .item>.c2 {
    width: 4.14rem;
    display: flex;
    flex-direction: column;
}

.report_page .frame_box .list .item>.c2>.l1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.05rem;
}

.report_page .frame_box .list .item>.c2>.l1>.s1 {
    display: block;
    color: #333;
    font-size: 0.16rem;
}

.report_page .frame_box .list .item>.c2>.l1>.s2 {
    display: block;
    color: #999;
    font-size: 0.12rem;
}

.report_page .frame_box .list .item>.c2>.l2 {
    font-size: 0.14rem;
    line-height: 0.19rem;
    color: #999;
    margin-top: 0.15rem;
}

.report_page .frame_box .frame_content .list>.item {
    margin-left: 0.47rem;
    margin-top: 0.35rem;
}

.report_page .frame_box .frame_content .list>.item:nth-child(1),
.report_page .frame_box .frame_content .list>.item:nth-child(2) {
    margin-top: 0;
}

.report_page .frame_box .frame_content .list>.item:nth-child(2n) {
    margin-left: 0.67rem;
}

.report_page .pagination_box {
    margin-top: 0.3rem;
}

.school_news_page .frame_box .list .item>.c1 {
    width: 1.28rem;
    height: 0.89rem;
    display: block;
    border-radius: 0.05rem;
    margin-right: 0.17rem;
}

.school_news_page .frame_box .list .item>.c2 {
    width: 3.74rem;
}

.school_news_page .frame_box .list .item>.c2>.l1 {
    margin-top: 0;
}

.school_news_page .frame_box .list .item>.c2>.l1>.s1 {
    width: 2.4rem;
}

.school_news_page .frame_box .frame_content .list>.item {
    margin-left: 0.58rem;
    margin-top: 0.31rem;
}

.school_news_page .frame_box .frame_content .list>.item:nth-child(1),
.school_news_page .frame_box .frame_content .list>.item:nth-child(2) {
    margin-top: 0;
}

.school_news_page .frame_box .frame_content .list>.item:nth-child(2n) {
    margin-left: 0.72rem;
}

.report_page .pagination_box {
    margin-top: 0.4rem;
}

.homework_page .main_content .list {
    margin-top: 0.59rem;
}

.homework_page .main_content .list .item {
    margin-left: 0.59rem;
}

.homework_page .main_content .list .item:nth-child(2n) {
    margin-left: 0.89rem;
}

.homework_page .main_content .list .item .l {
    display: flex;
    align-items: center;
}


.homework_page .main_content .list .item .l>.s1 {
    width: 0.97rem;
    height: 0.33rem;
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.33rem;
    font-size: 0.15rem;
    color: #fff;
    margin-right: 0.19rem;
}

.homework_page .main_content .list .item .l1>.s1 {
    background-color: #50DCFF;
}

.homework_page .main_content .list .item .l2>.s1 {
    background-color: #F98D94;
}

.homework_page .main_content .list .item .l3>.s1 {
    background-color: #5FCB83;
}

.homework_page .main_content .list .item .l>.s2 {
    font-size: 0.16rem;
    color: #666;
    flex: 1;
}

.homework_page .main_content .list .item .l3 {
    margin-bottom: 0.23rem;
}

.homework_page .main_content .list .item .l4 {
    display: flex;
    margin-bottom: 0.2rem;
}

.homework_page .main_content .list .item .l4 img {
    width: 1.57rem;
    height: 1.36rem;
    display: block;
    margin-right: 0.15rem;
}

.homework_page .main_content .list .item .l4 img:nth-last-child(1) {
    margin-right: 0;
}

.homework_page .main_content .list .item .l5 {
    font-size: 0.14rem;
    color: #909090;
}

.homework_page .pagination_box {
    margin-top: 0.55rem;
}
.homework_video_page .main_content {
    padding: 0.87rem 1.88rem 0;
}

.homework_video_page .main_content .l1 {
    display: flex;
    justify-content: space-between;
}

.homework_video_page .main_content .l1 .part {
    position: relative;
    width: 7.17rem;
    height: 5.92rem;
    border-radius: 0.15rem;
    background-color: #fff;
    padding: 0.55rem 0.58rem 0.77rem;
}

.homework_video_page .main_content .l1 .part>.p1 {
    width: 1.7rem;
    height: 0.5rem;
    background-color: #2CD0FF;
    border-radius: 0.25rem;
    line-height: 0.5rem;
    text-align: center;
    font-size: 0.2rem;
    color: #fff;
    position: absolute;
    left: 0.47rem;
    top: -0.25rem;
}

.homework_video_page .main_content .l1 .part>.p2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.homework_video_page .main_content .l1 .part>.p2 img {
    display: block;
    width: 100%;
    height: 100%;
}

.homework_video_page .main_content .l1 .part.right>.p1 {
    background-color: #E0D30B;
}

.homework_video_page .main_content .l2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.48rem;
}

.homework_video_page .main_content .l2>.left {
    width: 2.16rem;
    height: 0.52rem;
    border-radius: 0.26rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.homework_video_page .main_content .l2>.left .value_p {
    color: #666;
    font-size: 0.2rem;
}

.homework_video_page .main_content .l2>.left .value_p span {
    margin-right: 0.15rem;
}

.homework_video_page .main_content .l2>.left .parent_select {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.homework_video_page .main_content .l2>.right {
    display: flex;
}

.homework_video_page .main_content .l2>.right button {
    display: block;
    width: 2rem;
    height: 0.52rem;
    color: #fff;
    font-size: 0.2rem;
    background-color: #0AB1FD;
    border-radius: 0.26rem;
    margin-left: 0.58rem;
}

.food_list_page .main_content .list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.food_list_page .main_content .list .item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2.2rem;
    margin-left: 0 !important;
    margin-top: 0;
    margin-bottom: 0.21rem !important;
}

.food_list_page .main_content .list .item .c1 {
    margin-right: 0.17rem;
}

.food_list_page .main_content .list .item .c2 {
    display: block;
    flex: 1;
}

.food_detail_page .main_content .frame_content {
    padding: 0.5rem 1.8rem;
    overflow-y: auto;
    height: 100%
}

.food_detail_page .main_content .frame_content>.l1 {
    text-align: center;
    font-size: 0.18rem;
    color: #333;
}

.food_detail_page .main_content .frame_content>.l2 {
    text-align: center;
    font-size: 0.12rem;
    color: #999;
    margin-top: 0.18rem;
}

.food_detail_page .main_content .frame_content>.l2>.s1 {
    margin-right: 0.36rem;
}

.food_detail_page .main_content .frame_content>.l3 {
    width: 100%;
}

.food_detail_page .main_content .frame_content>.l3 td {
    text-align: center;
    color: #999999;
    font-size: 0.15rem;
    padding: 0.17rem 0.05rem;
}

.food_detail_page .main_content .frame_content>.l3 tr.head td {
    font-size: 0.16rem;
}

.food_detail_page .main_content .frame_content>.l4 {
    padding-left: 0.2rem;
    font-size: 0.15rem;
    color: #999999;
    line-height: 1.5;
}


.find_page .main_content .frame_content .btn_box {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.41rem;
    margin-top: 0.09rem;
    margin-bottom: 0.36rem;
}

.find_page .main_content .frame_content .btn_box button {
    width: 0.6rem;
    height: 0.28rem;
    background-color: transparent;
    color: #FF575F;
    border: 1px solid #FF575F;
    border-radius: 0.05rem;
    margin-left: 0.19rem;
}

.find_page .main_content .frame_content .btn_box button.active {
    background-color: #38CDFF;
    border-color: #38CDFF;
    color: #fff;
}

.find_page .main_content .frame_content .list .item {
    width: 3.72rem;
    height: 3.21rem;
    position: relative;
    padding: 0.3rem;
    background-color: #fff;
    margin-left: 0.2rem;
    margin-top: 0;
}

.find_page .main_content .frame_content .list .item:nth-child(1) {
    margin-left: 0.42rem;
}

.find_page .main_content .frame_content .list .item .l {
    display: flex;
    align-items: center;
    font-size: 0.16rem;
    color: #999999;
    margin-top: 0;
    margin-bottom: 0.11rem;
}

.find_page .main_content .frame_content .list .item .l>.s1 {
    width: 0.65rem;
    display: block;
    text-align: right;
    margin-right: 0.26rem;
}

.find_page .main_content .frame_content .list .item .l>.s2 {
    color: #666666;
}

.find_page .main_content .frame_content .list .item .l7 {
    display: flex;
}

.find_page .main_content .frame_content .list .item .l7 img {
    display: block;
    width: 0.95rem;
    height: 0.85rem;
    margin-right: 0.08rem;
}

.find_page .pagination_box {
    margin-top: 0.55rem;
}

.find_page .main_content .frame_content .list .item .tip {
    position: absolute;
    top: 0.18rem;
    right: 0;
}

.find_page .main_content .frame_content .list .item.find_obj .find_person {
    display: none;
}

.find_page .main_content .frame_content .list .item.find_person .find_obj {
    display: none;
}

.parent_msg_page .main_content .list {
    padding-left: 0.68rem;
    display: block;
}

.parent_msg_page .main_content .list .reply_item {
    position: relative;
    width: 5.19rem;
    float: left;
}

.parent_msg_page .main_content .list .reply_item>.l1 {
    width: 100%;
    height: 0.93rem;
    border: 1px solid #D4D4D4;
    background-color: #fff;
    border-radius: 0.05rem;
    display: block;
}

.parent_msg_page .main_content .list .reply_item>.l2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.08rem;
}

.parent_msg_page .main_content .list .reply_item>.l2 .select_parent_box {
    position: relative;
}

.parent_msg_page .main_content .list .reply_item>.l2 .select_parent_box .parent_select {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}



.parent_msg_page .main_content .list .reply_item>.l2 .value_p {
    display: flex;
    align-items: center;
    color: #5FCB83;
    font-size: 0.12rem;
}

.parent_msg_page .main_content .list .reply_item>.l2 .value_p>span {
    margin-right: 0.05rem;
}

.parent_msg_page .main_content .list .reply_item>.l2 .value_p .arrow {
    border-left: 0.04rem solid transparent;
    border-right: 0.04rem solid transparent;
    border-top: 0.05rem solid #5FCB83;
}

.parent_msg_page .main_content .list .reply_item>.l2 .send_btn {
    width: 0.58rem;
    height: 0.27rem;
    font-size: 0.12rem;
    color: #fff;
    border-radius: 0.05rem;
    background-color: #5FCB83;
}

.parent_msg_page .main_content .list .msg_item {
    position: relative;
    width: 5.19rem;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0.08rem;
    float: left;
}

.parent_msg_page .main_content .list .msg_item:nth-child(2n-1) {
    margin-left: 0;
}

.parent_msg_page .main_content .list .msg_item:nth-child(2) {
    margin-left: 0.65rem;
}

.parent_msg_page .main_content .list .msg_item:nth-child(3) {
    margin-left: 0.65rem;
}

.parent_msg_page .main_content .list .msg_item:nth-child(5) {
    margin-left: 0.65rem;
}

.parent_msg_page .main_content .list .msg_item:nth-child(7) {
    margin-left: 0.65rem;
}

.parent_msg_page .main_content .list .msg_item:nth-child(9) {
    margin-left: 0.65rem;
}

.parent_msg_page .main_content .list .msg_item:nth-child(11) {
    margin-left: 0.65rem;
}

.parent_msg_page .main_content .list .msg_item .l1 {
    display: flex;
    align-items: flex-end;
}

.parent_msg_page .main_content .list .msg_item .l1 .s1 {
    display: block;
    width: 0.8rem;
    font-size: 0.18rem;
    color: #5FCB83;
}

.parent_msg_page .main_content .list .msg_item .l1 .s2 {
    color: #999;
    font-size: 0.14rem;
}

.parent_msg_page .main_content .list .msg_item .l2 {
    color: #666;
    font-size: 0.14rem;
    margin-top: 0.1rem;
    margin-bottom: 0.12rem;
}